<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PursuitAlert.Client.Properties.Secrets" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="PursuitAlert.Client.Properties.DeviceConnectionSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="PursuitAlert.Client.Secrets" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="PursuitAlert.Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PursuitAlert.Client.Properties.Statistics" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="PursuitAlert.Client.Properties.VehicleSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="PursuitAlert.Client.Properties.DeviceConnectionSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="PursuitAlert.Client.Properties.OrganizationSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="PursuitAlert.Client.Vehicle" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="PursuitAlert.Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <PursuitAlert.Client.Properties.Secrets>
            <setting name="AWSKeyId" serializeAs="String">
                <value>15ngz/7wJH9uHXrn3KZn+6ukfDVOjlEt</value>
            </setting>
            <setting name="AWSSecretKey" serializeAs="String">
                <value>ceCDlZGoKIWg7p/B1//k6X8LR6ZRxliQyKOqdLjkzi+Xh3isTeEWzwiybBfJSi1f</value>
            </setting>
        </PursuitAlert.Client.Properties.Secrets>
        <PursuitAlert.Client.Properties.DeviceConnectionSettings>
            <setting name="BaudRate" serializeAs="String">
                <value>115200</value>
            </setting>
            <setting name="PID" serializeAs="String">
                <value>0000</value>
            </setting>
            <setting name="VID" serializeAs="String">
                <value>04D8</value>
            </setting>
            <setting name="DataBits" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="Handshake" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Parity" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ReadTimeout" serializeAs="String">
                <value>3000</value>
            </setting>
            <setting name="StopBits" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="WriteTimeout" serializeAs="String">
                <value>3000</value>
            </setting>
        </PursuitAlert.Client.Properties.DeviceConnectionSettings>
        <PursuitAlert.Client.Secrets>
            <setting name="AWSKeyId" serializeAs="String">
                <value/>
            </setting>
            <setting name="AWSSecretKey" serializeAs="String">
                <value/>
            </setting>
        </PursuitAlert.Client.Secrets>
        <PursuitAlert.Client.Properties.Settings>
            <setting name="ConfigurationFilePath" serializeAs="String">
                <value>%LOCALAPPDATA%\PursuitAlert\defaultconfig.json</value>
            </setting>
            <setting name="LogDirectoryPath" serializeAs="String">
                <value>%LOCALAPPDATA%\PursuitAlert\logs</value>
            </setting>
            <setting name="PortalAddress" serializeAs="String">
                <value>https://portal.pursuitalert.com</value>
            </setting>
        </PursuitAlert.Client.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <PursuitAlert.Client.Properties.Statistics>
            <setting name="TotalDistanceTraveled" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AverageDistancePerPatrol" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AverageSpeedPerPatrol" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TopSpeed" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TotalStationaryTime" serializeAs="String">
                <value>00:00:00</value>
            </setting>
            <setting name="TotalMovingTime" serializeAs="String">
                <value>00:00:00</value>
            </setting>
            <setting name="AverageStationaryTimePerPatrol" serializeAs="String">
                <value>00:00:00</value>
            </setting>
            <setting name="AverageMovingTimePerPatrol" serializeAs="String">
                <value>00:00:00</value>
            </setting>
            <setting name="AveragePursuitsPerPatrol" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TotalPursuits" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TotalCode3s" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TotalCriticalIncidents" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TotalMoveOvers" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TotalPinsDropped" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AverageCode3sPerPatrol" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AverageCriticalIncidentsPerPatrol" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AverageMoveOversPerPatrol" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AveragePinsDroppedPerPatrol" serializeAs="String">
                <value>0</value>
            </setting>
        </PursuitAlert.Client.Properties.Statistics>
        <PursuitAlert.Client.Properties.VehicleSettings>
            <setting name="UnitId" serializeAs="String">
                <value/>
            </setting>
            <setting name="Officer" serializeAs="String">
                <value/>
            </setting>
            <setting name="SecondaryOfficer" serializeAs="String">
                <value/>
            </setting>
            <setting name="Notes" serializeAs="String">
                <value/>
            </setting>
            <setting name="Id" serializeAs="String">
                <value>0</value>
            </setting>
        </PursuitAlert.Client.Properties.VehicleSettings>
        <PursuitAlert.Client.Properties.DeviceConnectionSettings>
            <setting name="ButtonCount" serializeAs="String">
                <value>5</value>
            </setting>
        </PursuitAlert.Client.Properties.DeviceConnectionSettings>
        <PursuitAlert.Client.Properties.OrganizationSettings>
            <setting name="DisplayName" serializeAs="String">
                <value/>
            </setting>
            <setting name="Code" serializeAs="String">
                <value/>
            </setting>
            <setting name="Id" serializeAs="String">
                <value>0</value>
            </setting>
        </PursuitAlert.Client.Properties.OrganizationSettings>
        <PursuitAlert.Client.Vehicle>
            <setting name="UnitId" serializeAs="String">
                <value/>
            </setting>
            <setting name="Officer" serializeAs="String">
                <value/>
            </setting>
            <setting name="SecondaryOfficer" serializeAs="String">
                <value/>
            </setting>
            <setting name="Notes" serializeAs="String">
                <value/>
            </setting>
            <setting name="Id" serializeAs="String">
                <value/>
            </setting>
        </PursuitAlert.Client.Vehicle>
        <PursuitAlert.Client.Properties.Settings>
            <setting name="IsFirstRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DebugMode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DeviceSerialNumber" serializeAs="String">
                <value/>
            </setting>
            <setting name="LogRecipient" serializeAs="String">
                <value>fcondon@devobal.com</value>
            </setting>
            <setting name="Stage" serializeAs="String">
                <value>dev</value>
            </setting>
            <setting name="SettingsUpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
        </PursuitAlert.Client.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
