<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PursuitAlert.Client.Old.Properties.MqttSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="PursuitAlert.Client.Old.Properties.DeviceSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="PursuitAlert.Client.Old.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PursuitAlert.Client.Old.Properties.MqttSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="PursuitAlert.Client.Old.Properties.DeviceSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="PursuitAlert.Client.Old.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <applicationSettings>
    <PursuitAlert.Client.Old.Properties.MqttSettings>
      <setting name="AuthenticationUrl" serializeAs="String">
        <value>https://bb2.auth.pursuitalert.net/v1/authenticateVehicle/</value>
      </setting>
      <setting name="CertificatesDirectory" serializeAs="String">
        <value>certificates</value>
      </setting>
      <setting name="UseATSEndpoint" serializeAs="String">
        <value>False</value>
      </setting>
    </PursuitAlert.Client.Old.Properties.MqttSettings>
    <PursuitAlert.Client.Old.Properties.DeviceSettings>
      <setting name="PID" serializeAs="String">
        <value>0000</value>
      </setting>
      <setting name="VID" serializeAs="String">
        <value>04D8</value>
      </setting>
      <setting name="BaudRate" serializeAs="String">
        <value>115200</value>
      </setting>
      <setting name="ButtonCount" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="DataBits" serializeAs="String">
        <value>8</value>
      </setting>
      <setting name="Handshake" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Parity" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ReadTimeout" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="StopBits" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="WriteTimeout" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="SwitchActivationJitterInMS" serializeAs="String">
        <value>500</value>
      </setting>
    </PursuitAlert.Client.Old.Properties.DeviceSettings>
    <PursuitAlert.Client.Old.Properties.Settings>
      <setting name="LogDirectoryPath" serializeAs="String">
        <value>%LOCALAPPDATA%\PursuitAlert\logs</value>
      </setting>
      <setting name="PortalURL" serializeAs="String">
        <value>https://console.dev.pursuitalert.net</value>
      </setting>
      <setting name="DebugMode" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DemoMode" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AccessKeyId" serializeAs="String">
        <value>15ngz/7wJH9uHXrn3KZn+6ukfDVOjlEt</value>
      </setting>
      <setting name="SecretAccessKey" serializeAs="String">
        <value>ceCDlZGoKIWg7p/B1//k6X8LR6ZRxliQyKOqdLjkzi+Xh3isTeEWzwiybBfJSi1f</value>
      </setting>
      <setting name="LogRecipient" serializeAs="String">
        <value>allen.brooks@kopisusa.com</value>
      </setting>
      <setting name="IoTBrokerEndpoint" serializeAs="String">
        <value>https://a8hm4iivf7xj1-ats.iot.us-east-1.amazonaws.com</value>
      </setting>
    </PursuitAlert.Client.Old.Properties.Settings>
  </applicationSettings>
  <userSettings>
    <PursuitAlert.Client.Old.Properties.MqttSettings>
      <setting name="MqttEndpoint" serializeAs="String">
        <value />
      </setting>
      <setting name="Stack" serializeAs="String">
        <value />
      </setting>
      <setting name="ThingName" serializeAs="String">
        <value />
      </setting>
      <setting name="RootCertificateUrl" serializeAs="String">
        <value>https://www.websecurity.digicert.com/content/dam/websitesecurity/digitalassets/desktop/pdfs/roots/VeriSign-Class%203-Public-Primary-Certification-Authority-G5.pem</value>
      </setting>
      <setting name="DownloadRootCertificate" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PortNumber" serializeAs="String">
        <value>8883</value>
      </setting>
    </PursuitAlert.Client.Old.Properties.MqttSettings>
    <PursuitAlert.Client.Old.Properties.DeviceSettings>
      <setting name="DeviceSerialNumber" serializeAs="String">
        <value />
      </setting>
      <setting name="IdleLEDIntensity" serializeAs="String">
        <value>2</value>
      </setting>
    </PursuitAlert.Client.Old.Properties.DeviceSettings>
    <PursuitAlert.Client.Old.Properties.Settings>
      <setting name="ConfigurationFilePath" serializeAs="String">
        <value>%LOCALAPPDATA%\PursuitAlert\defaultconfig.json</value>
      </setting>
      <setting name="ConfigurationURL" serializeAs="String">
        <value>/Vehicles/configuration/</value>
      </setting>
      <setting name="APIBaseUrl" serializeAs="String">
        <value>https://data.dev.pursuitalert.com/v1/graphql</value>
      </setting>
      <setting name="ConfigurationLastUpdated" serializeAs="String">
        <value />
      </setting>
      <setting name="ConfigurationIntervalCheckInMS" serializeAs="String">
        <value>3600000</value>
      </setting>
      <setting name="Stage" serializeAs="String">
        <value>dev</value>
      </setting>
      <setting name="UnitId" serializeAs="String">
        <value />
      </setting>
      <setting name="OrganizationCode" serializeAs="String">
        <value />
      </setting>
      <setting name="Officer" serializeAs="String">
        <value />
      </setting>
      <setting name="SecondaryOfficer" serializeAs="String">
        <value />
      </setting>
      <setting name="Notes" serializeAs="String">
        <value />
      </setting>
      <setting name="FirstRun" serializeAs="String">
        <value>True</value>
      </setting>
    </PursuitAlert.Client.Old.Properties.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.1" newVersion="4.0.4.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reactive" publicKeyToken="94bc3704cddfc263" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.4.0.0" newVersion="4.4.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ComponentModel.Annotations" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DryIoc" publicKeyToken="dfbf2bd50fcf7768" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.1.0" newVersion="4.5.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>